/* AuthPage */
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.auth-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

.auth-header {
  display: flex;
}

.auth-header button {
  flex: 1;
  padding: 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
}

.auth-header button.active {
  background-color: white;
  font-weight: bold;
}

.auth-form {
  padding: 20px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.auth-options button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.auth-options button svg {
  margin-right: 10px;
}

.separator {
  text-align: center;
  margin: 20px 0;
  color: #777;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-password a {
  color: #777;
  text-decoration: none;
  font-size: 14px;
}

.terms {
  font-size: 12px;
  color: #777;
  margin-bottom: 15px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

/* Mainpage */
.bg-image {
  position: relative;
  height: 100vh; 
}

.mask {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Overlay effect */
}

.text-white {
  color: white; /* Ensures text is white */
}


/* Model */
/* src/components/common/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}


/* customer review */
.customer-reviews {
  max-width: 800px;
  margin: 0 auto; /* Center horizontally */
}

.customer-reviews-heading {
  font-size: 2rem;
  color: #343a40;
}

.review-list .review-item {
  padding: 1rem 0;
}

.review-content {
  font-size: 1.1rem;
  color: #495057;
}

.reviewer-name {
  font-size: 1rem;
}

.review-rating {
  font-size: 1.2rem;
}

.review-date {
  font-size: 0.875rem;
}

.loading-message,
.no-reviews-message {
  font-size: 1.2rem;
  margin-top: 2rem;
}
